.formContainer {
    width: 500px;
    max-height: 600px; 
    background-color: #f0fbff;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 35%;
}

form {
    margin: 20px;
    font-size: 24px;
}

thead {
    background-color: #ebfaff;
}

button {
    margin: 20px;
    float: right;
}

input {
    margin-top: 20px;
}

.errorMsg {
    font-size: 12px;
    color: #ff1c4d;
}

.closeIcon {
    float: right;
    margin: 30px;
    height: 20px;
    cursor: pointer;
}

.closeIcon:hover {
    background-color: #88ccfc;
}

.btn-block {
    color: gray;
}

