button {
  width: 10%;
  height: 20px;
  border: none;
  background-color: #939af5;
  float: right
}

button:hover {
  background-color: #abb1f5;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid #000000;
}
